.gallery__anim-right-in {
  transform-origin: right center;
}
.gallery__anim-right-out {
  transform-origin: left center;
}
.gallery__anim-left-in {
  transform-origin: left center;
}
.gallery__anim-left-out {
  transform-origin: right center;
}

@keyframes anim-right-in {
  from {
    opacity: 0;
    transform: scaleX(0.6) translateZ(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1) translateZ(0);
  }
}
@keyframes anin-right-out {
  from {
    opacity: 1;
    transform: scaleX(1) translateZ(0);
  }
  to {
    opacity: 0;
    transform: scaleX(0.6) translateZ(0);
  }
}

@keyframes anim-left-in {
  from {
    opacity: 0;
    transform: scaleX(0.6) translateZ(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1) translateZ(0);
  }
}
@keyframes anim-left-out {
  from {
    opacity: 1;
    transform: scaleX(1) translateZ(0);
  }
  to {
    opacity: 0;
    transform: scaleX(0.6) translateZ(0);
  }
}
