/* NO PURGE */
.gallery__anim-right-in {
  transform-origin: right center;
}
.gallery__anim-right-out {
  transform-origin: left center;
}
.gallery__anim-left-in {
  transform-origin: left center;
}
.gallery__anim-left-out {
  transform-origin: right center;
}

@keyframes anim-right-in {
  from {
    opacity: 0;
    transform: scale(0.9) rotate3d(0, 1, 0, -90deg) translateZ(0);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0);
  }
}
@keyframes anin-right-out {
  from {
    opacity: 1;
    transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0);
  }
  to {
    opacity: 0;
    transform: scale(0.9) rotate3d(0, 1, 0, 90deg) translateZ(0);
  }
}

@keyframes anim-left-in {
  from {
    opacity: 0;
    transform: scale(0.9) rotate3d(0, 1, 0, 90deg) translateZ(0);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0);
  }
}
@keyframes anim-left-out {
  from {
    opacity: 1;
    transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0);
  }
  to {
    opacity: 0;
    transform: scale(0.9) rotate3d(0, 1, 0, -90deg) translateZ(0);
  }
}
