@keyframes anim-right-in {
  from {
    opacity: 0;
    transform: scale(0.9) translateX(-100px) translateZ(0);
  }

  to {
    opacity: 1;
    transform: scale(1) translateX(0) translateZ(0);
  }
}

@keyframes amin-right-out {
  from {
    opacity: 1;
    transform: scale(1) translateX(0) translateZ(0);
  }

  to {
    opacity: 0;
    transform: scale(0.9) translateX(100px) translateZ(0);
  }
}

@keyframes anim-left-in {
  from {
    opacity: 0;
    transform: scale(0.9) translateX(100px) translateZ(0);
  }

  to {
    opacity: 1;
    transform: scale(1) translateX(0) translateZ(0);
  }
}

@keyframes anim-left-out {
  from {
    opacity: 1;
    transform: scale(1) translateX(0) translateZ(0);
  }

  to {
    opacity: 0;
    transform: scale(0.9) translateX(-100px) translateZ(0);
  }
}
